<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント情報</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
</head>
<body>
    <h1>アカウント情報</h1>
    <div class="half">
        <p class="tag">ユーザーネーム</p>
        <p id="name"></p>
    </div>
    <div class="half">
        <p class="tag">ユーザーメールアドレス</p>
        <p id="mail"></p>
    </div>

    <script src="{{ url_for('static', filename='js/test01.js') }}"></script>
</body>
</html>