<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta http-equiv="cache-control" content="no-store" />
    {% block css %}
    {% endblock %}
    <title>ITalk</title>
    
</head>

<body>
    <header>
        <div class="container">
            
            <div class="menu">
                <a href="/userlist2">
                    <h1>ITalk</h1>
                </a>
                <p><a href="/">初期画面</a></p>
                <p><a href="/login2">ログイン</a></p>
                <p><a href="/logout2">ログアウト</a></p>
                <p><a href="/userlist2">ユーザー<br>リスト</a></p>
                <p><a href="/chatroom">チャット<br>ルーム</a></p>
            </div>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>


</html>