{% extends "base2.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create_imgae.css') }}">
{% endblock %}
{% block content %}
<div class="body">
    <main class="container">
        
        <div class="row">
            <div class="account col-6 Feature">
                <h2>画像生成</h2>
                <h2><a href="/imagelog">履歴</a></h2>

                
                <h3>prompt(英語で入力)</h3>
                <input type="text" id="PROMPT" placeholder="プロンプト"><br>
                <h3 id="show_MODEL_ID"></h3>
                <button onclick="nomal()" id="normal">ノーマル</button>
                <button onclick="anima()" id="anima">アニメ</button>
                <button onclick="real()"  id="real">リアリティ</button><br>
                <button id="startcreate">作成</button>
                
                
                
                <div id="imgcreateresult">
                    
                </div>
            </div>
            <div class="translation col-6 Feature">
                <h2>翻訳</h2>
                <input type="text" id="inputdata"  placeholder="翻訳したい文字列">
                <button id="starttranslation">翻訳</button>
                <div id="translationresult">

                </div>
                <button id="copy">copy</button>
                <h2>使い方・遊び方</h2>
                <h4>英語でプロンプトを設定して作成ボタンをクリック</h4>
                <h4>英語がわからない人は右側の翻訳機能を使ってください</h4>
            </div>
        </div>
    </main>
</div>
<script src="{{ url_for('static', filename='js/create_imgae.js') }}"></script>
{% endblock %}