{% extends "base2.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/face.css') }}">
{% endblock %}
{% block content %}


<h1>顔の感情解析</h1>
<div class="data">
    <div class="Feature">
        <video id="video" autoplay ></video>
        <canvas id="canvas" ></canvas>
    </div>
    <div class="result Feature">
        <p id="angry">怒り: 0%</p>
        <p id="fear">恐怖: 0%</p>
        <p id="happy">幸せ: 0%</p>
        <p id="sad">悲しみ: 0%</p>
        <p id="surprise">驚き: 0%</p>
        <p id="neutral">無感情: 0%</p>
    </div>
</div>
<button id="startButton">感情解析を開始</button>
<button id="endButton">感情解析を修了</button>
<div id="average">

</div>
<script src="{{ url_for('static', filename='js/face.js') }}"></script>
{% endblock %}