{% extends "base2.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/img_log.css') }}">
{% endblock %}
{% block content %}
<div class="body">
    <main class="container">
        <div class="row">
            <div class="account col-12">

                <div id="imgcreateresult">
                    
                </div>
            </div>
            
        </div>
    </main>
</div>
<script src="{{ url_for('static', filename='js/imgae_log.js') }}"></script>
{% endblock %}