{% extends "base2.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block content %}
<div>
    <p id="h1">ようこそ</p>
    <p id="h1">ITALKへ</p>    
</div>
<div class="container">
    
    <div id="logoin-menu">登録</div>
    <form action="/auth" method="post">
        <div>
            <label for="user" class="username">ユーザーネーム</label><br>
            <input type="text" name="username" id="user" required>
        </div>
        <div>
            <label for="pass" class="password">パスワード</label><br>
            <input type='password' name="password" id="pass" required minlength="4">
        </div>
        <br>
        <button id="log_in">ログイン</button>
        
    </form>
    <a href="/signup"><button id="newuser">新規</button></a>
    <a href="/mail" id="lostpassword">パスワードを忘れてしまった</a>
    
    

</div>

    
{% endblock %}