{% extends "base2.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/test02.css') }}">
{% endblock %}
{% block content %}
<h1>新規作成</h1>
<form action="{{ url_for('user.register') }}" method="post">
    
    <div>
        <label class="username">ユーザー    :</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label class="password">パスワード   :</label>
        <input type="password" id="password" name="password" required minlength="4">
    </div>
    <div>
        <label class="email">メールアドレス :</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <button type="submit">作成</button>
    </div>
</form>
{% endblock %}