<!DOCTYPE HTML>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7" lang="ja"> <![endif]-->
<!--[if IE 7]> <html class="ie lt-ie9 lt-ie8" lang="ja"> <![endif]-->
<!--[if IE 8]> <html class="ie lt-ie9" lang="ja"> <![endif]-->
<!--[if lte IE 9]> <html class="ie IE" lang="ja"> <![endif]-->
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4254TWWXDS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4254TWWXDS');
</script>
<!-- Google Tag Manager by DISCO-->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MM6VHFZ');</script>
<!-- End Google Tag Manager by DISCO-->
<meta charset="UTF-8">
<title>YSE 横浜システム工学院専門学校 | 神奈川・横浜にあるIT・ゲーム・AIの専門学校</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="相鉄線 希望ヶ丘駅 徒歩8分のIT専門学校。神奈川県横浜市にある横浜システム工学院専門学校のホームページです。学校情報、入学情報のほか、就職支援、学生生活について紹介しています。">
<meta name="keywords" content="YSE,横浜システム工学院専門学校,神奈川,IT,情報" />
<meta name="google-site-verification" content="AKt-1qlu7UAE2JC2mRdYGgOtf7ugD4ekVWtAHle5R_M" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<meta property="og:title" content="YSE 横浜システム工学院専門学校">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.yse.ac.jp/">
<meta property="og:image:alt" content="https://www.yse.ac.jp/img/ogp_top.jpg">
<meta property="og:site_name" content="YSE 横浜システム工学院専門学校">
<meta property="og:description" content="YSE横浜システム工学院専門学校のオフィシャルサイトです。学校案内、受験生向けの入学案内、在学生向けコンテンツ、また一般の方向けの情報など、YSE横浜システム工学院専門学校に関する情報をご覧頂けます。">
<meta property="og:locale" content="ja_JP">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@YSE_senmon">
<link rel="stylesheet" type="text/css" href="css/common.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/style.css?20230728" media="all" />
<link rel="stylesheet" type="text/css" href="css/base.css?20230728" media="all" />
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/meanmenu.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/swiper-bundle.min.css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<link rel="shortcut icon" href="favicon.ico">
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/jquery.meanmenu.min.js"></script>
<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/style.js"></script>
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="script/respond.min.js"></script>
<![endif]-->
<!--[if lte IE 7]><script src="js/lte-ie7.js"></script><![endif]-->
</head>
<!--2023/10/10 10:08 T-->
<body id="top">
<!-- Google Tag Manager by DISCO(noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MM6VHFZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager by DISCO(noscript) -->
<!-- HEADER -->
<header id="header">
	<div class="tb-dsp bg_yseblue">
		<div class="container">
			<div class="header_visitor">
				<div>
					<ul>
						<li><a href="visitor/index.html#company">企業の方へ</a></li>
						<li><a href="visitor/index.html#teacher">高校の先生方へ</a></li>
						<li><a href="visitor/index.html#parents">保護者の方へ</a></li>
						<li><a href="students/students.html">在校生の方へ</a></li>
						<li><a href="visitor/index.html#graduate">卒業生の方へ</a></li>
						<li><a href="foreign/index.html" target="_blank">留学生の方へ</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div id="h_top">
			<div class="header_flex">
				<h1 class="h_logo"><a href="#top"><img src="img/logo_sp.png" alt="横浜システム工学院専門学校"></a></h1><div class="logo_txt">文部科学大臣認定「職業実践専門課程」認定校<br>ISO29993第三者評価認証校</div>
				<div>
					<ul>
						<li><a href="mail_form/doc-request.html" target="_blank" class="btnM_dblue"><i class="fas fa-file-alt fa-lg"></i>資料請求</a></li>
						<li><a href="contact/index.html" class="btnM_dgreen"><i class="fas fa-info-circle fa-lg"></i>お問い合わせ</a></li>
					</ul>
				</div>
			</div>
			<div class="h_nav">
				<nav id="gNav">
					<ul class="nav main-wrapper">
						<li class="nav-item">
							<a href="#">学校案内<i class="fas fa-chevron-down fa-xs"></i></a>
							<div class="megamenu">
								<ul class="sub-menu">
									<li><a href="about/index.html">学院長メッセージ</a></li>
									<li><a href="about/concept.html">YSEグランドコンセプト</a></li>
									<li><a href="about/yse3policy.html">YSE 3つのポリシー</a></li>
									<li><a href="about/strengths.html">YSE 3つの強み</a></li>
									<li><a href="about/point.html">YSEの特長</a></li>
									<li><a href="about/online.html">オンライン学習の取り組み</a></li>
									<li><a href="about/outline.html">学校法人概要・沿革</a></li>
									<li><a href="about/education.html">職業実践専門課程認定</a></li>
									<li><a href="about/group.html">加入団体／産学連携団体・企業</a></li>
									<li><a href="about/facility.html">学修環境・施設</a></li>
									<li><a href="about/access.html">交通アクセス</a></li>
								</ul><!-- .sub-menu -->
							</div><!-- .megamenu -->
						</li>
						<li class="nav-item">
							<a href="#">学科案内<i class="fas fa-chevron-down fa-xs"></i></a>
							<div class="megamenu">
								<ul class="sub-menu">
									<li><a href="course/course_ig.html">IT・ゲームソフト科</a></li>
									<li><a href="course/course_ai.html">AI・データサイエンス科</a></li>
									<li><a href="course/course_db.html">デジタルビジネスデザイン科</a></li>
									<li><a href="course/course_gs.html">グローバルITシステム科</a></li>
									<li><a href="course/course_gb.html">グローバルITビジネス科</a></li>
									<li><a href="course/course_il.html">ITライセンス科（通信制）</a></li>
								</ul><!-- .sub-menu -->
							</div><!-- .megamenu -->
						</li>
						<li class="nav-item">
							<a href="#">入学案内<i class="fas fa-chevron-down fa-xs"></i></a>
							<div class="megamenu">
								<ul class="sub-menu">
									<li><a href="admission/index.html">入学案内（全日制）</a></li>
									<li><a href="admission/admission_il.html">入学案内（通信制）</a></li>
									<li><a href="admission/ao.html">AO入学</a></li>
									<li><a href="admission/scholarship.html">資格推薦入学</a></li>
									<li><a href="admission/support.html">奨学サポート</a></li>
									<li><a href="admission/web_entry.html">ネット出願</a></li>
								</ul><!-- .sub-menu -->
							</div><!-- .megamenu -->
						</li>
						<li class="nav-item">
							<a href="#">就職支援・資格取得<i class="fas fa-chevron-down fa-xs"></i></a>
							<div class="megamenu">
								<ul class="sub-menu">
									<li><a href="career/index.html">就職支援</a></li>
									<li><a href="career/qualification.html">資格取得指導</a></li>
									<li><a href="career/web_career.html">YSEキャリアネット</a></li>
									<li><a href="career/transfer.html">大学編入学サポート</a></li>
								</ul><!-- .sub-menu -->
							</div><!-- .megamenu -->
						</li>
						<li class="nav-item">
							<a href="#">体験入学・実習<i class="fas fa-chevron-down fa-xs"></i></a>
							<div class="megamenu">
								<ul class="sub-menu">
									<li><a href="taiken/taiken.html">体験入学・学校見学</a></li>
									<li><a href="taiken/online.html">オンライン個別相談会</a></li>
									<li><a href="taiken/web_taiken.html">ネット体験実習</a></li>
								</ul><!-- .sub-menu -->
							</div><!-- .megamenu -->
						</li>
						<li class="nav-item tb-dspB">
							<a href="#">みなさまへ（訪問者別）<i class="fas fa-chevron-down fa-xs"></i></a>
							<div class="megamenu">
								<ul class="sub-menu">
									<li><a href="visitor/index.html#company">企業の方へ</a></li>
									<li><a href="visitor/index.html#teacher">高校の先生方へ</a></li>
									<li><a href="visitor/index.html#parents">保護者の方へ</a></li>
									<li><a href="students/students.html">在校生の方へ</a></li>
									<li><a href="visitor/index.html#graduate">卒業生の方へ</a></li>
								</ul><!-- .sub-menu -->
							</div><!-- .megamenu -->
						</li>
						<li class="nav-item"><a href="foreign/index.html">留学生の方へ</a></li>
					</ul>
					<div class="mask"></div>
				</nav><!-- .gNav -->
			</div>
		</div>
	</div>
</header>
<!--// HEADER //-->
<main id="main" role="main">
<div class="bg_fixed">
<!-- メインスライダー -->
	<section class="bg_white">
		<div class="mainvisual">
			<div class="mainvisual-inner mainvisual-container">
				<div class="swiper-container swiper_fadein swiper01">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><a href="admission/index.html"><img src="img/bnr_top_2024admission.jpg" alt="2024年4月生 入学願書受付開始" class="pc-dsp"><img src="img/bnr_top_2024admission_sp.jpg" alt="2024年4月生 入学願書受付開始" class="sp-dsp"></a></div>
						<div class="swiper-slide"><a href="admission/ao.html"><img src="img/bnr_top_ao.jpg?20231003" alt="AO入学出願開始" class="pc-dsp"><img src="img/bnr_top_ao_sp.jpg?20231003" alt="AO入学出願開始" class="sp-dsp"></a></div>
						<div class="swiper-slide"><a href="taiken/taiken.html"><img src="img/bnr_top_oc.jpg?20231010" alt="体験入学" class="pc-dsp"><img src="img/bnr_top_oc_sp.jpg?20231010" alt="体験入学" class="sp-dsp"></a></div>
						<div class="swiper-slide"><a href="taiken/online.html"><img src="img/bnr_top_online.jpg?20230501" alt="オンライン個別相談会" class="pc-dsp"><img src="img/bnr_top_online_sp.jpg?20230501" alt="オンライン個別相談会" class="sp-dsp"></a></div>
						<div class="swiper-slide"><a href="pickup/il.html"><img src="img/bnr_top_il.jpg?20230501" alt="ITライセンス科（通信制）ってどんな学科なの？" class="pc-dsp"><img src="img/bnr_top_il_sp.jpg?20230501" alt="ITライセンス科（通信制）ってどんな学科なの？" class="sp-dsp"></a></div>
						<div class="swiper-slide"><a href="pickup/dbd.html"><img src="img/bnr_top_db.jpg?20230501" alt="2024年4月新設学科 デジタルビジネスデザイン科" class="pc-dsp"><img src="img/bnr_top_db_sp.jpg?20230501" alt="2024年4月新設学科 デジタルビジネスデザイン科" class="sp-dsp"></a></div>
					</div>
					<div class="swiper-pagination swiper-pagination01"></div>
					<div class="swiper-button-prev swiper-button-prev01"></div>
					<div class="swiper-button-next swiper-button-next01"></div>
				</div>
			</div>
		</div>
		<div class="sp-dsp">
			<div class="container">
				<ul class="bnr_item2">
					<li><a href="mail_form/doc-request.html" target="_blank" class="btnM_dblueS"><i class="fas fa-file-alt fa-lg"></i>資料請求</a></li>
					<li><a href="about/access.html" class="btnM_dgrayS"><i class="fas fa-map-pin fa-lg"></i>交通アクセス</a></li>
				</ul>
			</div>
		</div>
	</section>
<!-- // メインスライダー // -->
<!-- お知らせ -->
	<section class="bg_white">
		<div class="containerE">
<!--
			<div class="innerT">
				<table class="tbl_b">
					<tr>
						<th class="pc-txt bold txt_white">お知らせ</th>
						<td>
							<dl>
								<dt><time>2023.07.28</time></dt><dd class="anchor bold"><a href="info/summer2023.html">夏季休業のお知らせ</a></dd>
							</dl>
						</td>
					</tr>
				</table>
			</div>
-->
			<div class="row">
				<div class="col span-6 marginT"><a href="taiken/taiken.html#halloween"><img src="img/bnr_top_oc_halloween_s.jpg" alt="体験入学『ハロウィンスペシャル』"></a></div>
				<div class="col span-6 marginT"><a href="taiken/online.html"><img src="img/bnr_top_online_s.jpg" alt="オンライン型 オンライン個別相談会"></a></div>
			</div>
		</div>
	</section>
<!-- // お知らせ // -->
<!-- 新着情報 -->
	<section class="bg_white">
		<div class="containerB">
			<h2 class="toptxt">新着情報</h2>
			<div class="mainvisual">
				<div class="mainvisual-inner mainvisual-container">
					<div class="swiper-container swiper_fadein swiper04">
						<ul class="swiper-wrapper">
														<li class="swiper-slide innerB bg_white">
								<a href="https://www.yse.ac.jp/blog/post-6025/">
									<p><img width="600" height="400" src="https://www.yse.ac.jp/blog/wp-content/uploads/2023/10/IMG_2772.jpg" class="attachment-large size-large wp-post-image" alt="体験入学" decoding="async" loading="lazy" srcset="https://www.yse.ac.jp/blog/wp-content/uploads/2023/10/IMG_2772.jpg 600w, https://www.yse.ac.jp/blog/wp-content/uploads/2023/10/IMG_2772-300x200.jpg 300w, https://www.yse.ac.jp/blog/wp-content/uploads/2023/10/IMG_2772-150x100.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" /></p>
									<p class="fontSS marginT">2023.10.10<span class="txt_red bold paddingL"></span></p>
									<p class="bold marginTs">10/9（月・祝）体験入学にご参加いただきありがとうございました！</p>
									<p class="marginT"><span class="blog_ctg">体験入学・実習</span></p>
								</a>
							</li>
														<li class="swiper-slide innerB bg_white">
								<a href="https://www.yse.ac.jp/blog/post-5993/">
									<p><img width="600" height="400" src="https://www.yse.ac.jp/blog/wp-content/uploads/2023/10/IMG_8542.jpg" class="attachment-large size-large wp-post-image" alt="第1回卒業制作発表会" decoding="async" loading="lazy" srcset="https://www.yse.ac.jp/blog/wp-content/uploads/2023/10/IMG_8542.jpg 600w, https://www.yse.ac.jp/blog/wp-content/uploads/2023/10/IMG_8542-300x200.jpg 300w, https://www.yse.ac.jp/blog/wp-content/uploads/2023/10/IMG_8542-150x100.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" /></p>
									<p class="fontSS marginT">2023.10.06<span class="txt_red bold paddingL"></span></p>
									<p class="bold marginTs">10月5日（木）第1回卒業制作発表会を実施しました</p>
									<p class="marginT"><span class="blog_ctg">トピックス</span></p>
								</a>
							</li>
														<li class="swiper-slide innerB bg_white">
								<a href="https://www.yse.ac.jp/blog/post-5980/">
									<p><img width="600" height="400" src="https://www.yse.ac.jp/blog/wp-content/uploads/2023/05/ysenews.jpg" class="attachment-large size-large wp-post-image" alt="YSEnews" decoding="async" loading="lazy" srcset="https://www.yse.ac.jp/blog/wp-content/uploads/2023/05/ysenews.jpg 600w, https://www.yse.ac.jp/blog/wp-content/uploads/2023/05/ysenews-300x200.jpg 300w, https://www.yse.ac.jp/blog/wp-content/uploads/2023/05/ysenews-150x100.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" /></p>
									<p class="fontSS marginT">2023.10.02<span class="txt_red bold paddingL"></span></p>
									<p class="bold marginTs">「YSEnews97」が発行されました！</p>
									<p class="marginT"><span class="blog_ctg">学校情報</span></p>
								</a>
							</li>
														<li class="swiper-slide innerB bg_white">
								<a href="https://www.yse.ac.jp/blog/post-5986/">
									<p><img width="600" height="400" src="https://www.yse.ac.jp/blog/wp-content/uploads/2023/09/bnr_blog_2024admission.jpg" class="attachment-large size-large wp-post-image" alt="2024年4月入学生の入学願書受付スタート！" decoding="async" loading="lazy" srcset="https://www.yse.ac.jp/blog/wp-content/uploads/2023/09/bnr_blog_2024admission.jpg 600w, https://www.yse.ac.jp/blog/wp-content/uploads/2023/09/bnr_blog_2024admission-300x200.jpg 300w, https://www.yse.ac.jp/blog/wp-content/uploads/2023/09/bnr_blog_2024admission-150x100.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" /></p>
									<p class="fontSS marginT">2023.09.29<span class="txt_red bold paddingL"></span></p>
									<p class="bold marginTs">10月1日（日）より2024年4月入学生の入学願書受付スタート！</p>
									<p class="marginT"><span class="blog_ctg">入学情報</span></p>
								</a>
							</li>
														<li class="swiper-slide innerB bg_white">
								<a href="https://www.yse.ac.jp/blog/post-5966/">
									<p><img width="600" height="400" src="https://www.yse.ac.jp/blog/wp-content/uploads/2023/09/blog_dbd.jpg" class="attachment-large size-large wp-post-image" alt="【2024年新設学科】デジタルビジネスデザイナーを育成 デジタルビジネスデザイン科" decoding="async" loading="lazy" srcset="https://www.yse.ac.jp/blog/wp-content/uploads/2023/09/blog_dbd.jpg 600w, https://www.yse.ac.jp/blog/wp-content/uploads/2023/09/blog_dbd-300x200.jpg 300w, https://www.yse.ac.jp/blog/wp-content/uploads/2023/09/blog_dbd-150x100.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" /></p>
									<p class="fontSS marginT">2023.09.27<span class="txt_red bold paddingL"></span></p>
									<p class="bold marginTs">“ビジネスデザイナ―”を目指す学科「デジタルビジネスデザイン科」</p>
									<p class="marginT"><span class="blog_ctg">学科情報</span></p>
								</a>
							</li>
														<li class="swiper-slide innerB bg_white">
								<a href="https://www.yse.ac.jp/blog/post-5952/">
									<p><img width="600" height="400" src="https://www.yse.ac.jp/blog/wp-content/uploads/2023/09/IMG_2141.jpg" class="attachment-large size-large wp-post-image" alt="体験入学" decoding="async" loading="lazy" srcset="https://www.yse.ac.jp/blog/wp-content/uploads/2023/09/IMG_2141.jpg 600w, https://www.yse.ac.jp/blog/wp-content/uploads/2023/09/IMG_2141-300x200.jpg 300w, https://www.yse.ac.jp/blog/wp-content/uploads/2023/09/IMG_2141-150x100.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" /></p>
									<p class="fontSS marginT">2023.09.25<span class="txt_red bold paddingL"></span></p>
									<p class="bold marginTs">9/24（日）体験入学にご参加いただきありがとうございました！</p>
									<p class="marginT"><span class="blog_ctg">体験入学・実習</span></p>
								</a>
							</li>
													</ul>
						<div class="swiper-pagination swiper-pagination04 marginB"></div>
					</div>
				</div>
			</div>
			<p class="innerT center"><a href="/blog/" class="btn_ysebl">一覧を見る</a></p>
		</div>
	</section>
<!-- // 新着情報 // -->
	<section>
		<div class="containerB">
			<div>
				<p class="center marginB"><a href="https://lsg.grapecity.com/yca/App/Account/login" target="_blank"><img src="img/bnr_top_ao_s.jpg" alt="ネットAOエントリー"></a></p>
				<ul class="bnr_item2">
<!--
					<li><a href="https://lsg.grapecity.com/yca/App/Account/login" target="_blank"><img src="img/bnr_top_ao_s.jpg" alt="ネットAOエントリー"></a></li>
					<li><a href="https://lsg.grapecity.com/yca/App/Account/login" target="_blank"><img src="img/bnr_top_foreign_app.jpg" alt="留学生 ネットエントリー"></a></li>

					<li><a href="taiken/taiken.html"><img src="img/bnr_top_oc_s.jpg" alt="来校型 体験入学"></a></li>
					<li><a href="taiken/online.html"><img src="img/bnr_top_online_s.jpg" alt="オンライン型 オンライン個別相談会"></a></li>
-->
					<li><a href="info/info20230412.html#support_kaisetsu"><img src="img/bnr_support_kaisetsu.jpg?20230713" alt="デジタルビジネスデザイン科 開設記念祝い"></a></li>
					<li><a href="info/info20230412.html#support_pm"><img src="img/bnr_support_pm.jpg?20230713" alt="グローバルITビジネス科 午後クラス入学祝い"></a></li>
					<li><a href="admission/support/shugakushien.html"><img src="img/bnr_top_shugakushien.jpg" alt="高等教育の修学支援新制度"></a></li>
					<li><a href="admission/digital.html"><img src="img/bnr_digital.jpg" alt="デジタルパンフレット"></a></li>
				</ul>
			</div>
		</div>
	</section>
<!-- YSEの特長 -->
	<section class="bg_white">
<!-- PCのみ -->
		<div class="containerB pc-dsp">
			<h2 class="toptxt">YSEの特長</h2>
			<div class="row">
				<div class="col span-4 marginB innerS_in bg_yselblue">
					<h3 class="txt_blue bold">文部科学大臣認定「職業実践専門課程」認定校</h3>
					<p class="marginT"><img src="img/feature_img01b.jpg" alt="文部科学大臣認定「職業実践専門課程」認定校"></p>
					<p class="bold marginT fontS">企業連携による授業カリキュラムと実習</p>
					<p class="marginTs">平成28年3月に全4学科が文部科学大臣より「職業実践専門課程」として認定されました。</p>
				</div>
				<div class="col span-4 marginB innerS_in bg_yselblue">
					<h3 class="txt_blue bold">学費を安く設定。<br>充実したサポート制度</h3>
					<p class="marginT"><img src="img/feature_img02b.jpg" alt="学費を安く設定。充実したサポート制度"></p>
					<p class="bold marginT fontS">進学を諦めたくない志望者の思いに応える</p>
					<p class="marginTs">広告費を抑えることにより、数あるIT系の専門学校の中でも学費を安く設定しています。</p>
				</div>
				<div class="col span-4 marginB innerS_in bg_yselblue">
					<h3 class="txt_blue bold">クォーター制で習熟度を測り、学修面をサポート</h3>
					<p class="marginT"><img src="img/feature_img03b.jpg" alt="クォーター制で習熟度を測り、学修面をサポート"></p>
					<p class="bold marginT fontS">少人数制、クラス担任制を活かした授業</p>
					<p class="marginTs">クォーター制（4学期制）は、短期間で集中して学ぶことで学修効果を高め、クォーター毎の成績評価によりきめ細かなフィードバックが受けられます。</p>
				</div>
			</div>
			<p class="innerT center"><a href="about/point.html" class="btn_ysebl">詳しくはこちら</a></p>
		</div>
<!-- SPのみ -->
		<div class="containerB sp-dsp">
			<h2 class="toptxt">YSEの特長</h2>
			<div class="mainvisual">
				<div class="mainvisual-inner mainvisual-container">
					<div class="swiper-container swiper_fadein swiper02">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="innerS_in bg_yselblue">
									<p class="center bold fontLL txt_blue marginB">1</p>
									<h3 class="txt_blue bold">文部科学大臣認定「職業実践専門課程」認定校</h3>
									<p class="marginT"><img src="img/feature_img01b.jpg" alt="文部科学大臣認定「職業実践専門課程」認定校"></p>
									<p class="bold marginT fontS">企業連携による授業カリキュラムと実習</p>
									<p class="marginTs">平成28年3月に全4学科が文部科学大臣より「職業実践専門課程」として認定されました。</p>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="innerS_in bg_yselblue">
									<p class="center bold fontLL txt_blue marginB">2</p>
									<h3 class="txt_blue bold">学費を安く設定。<br>充実したサポート制度</h3>
									<p class="marginT"><img src="img/feature_img02b.jpg" alt="学費を安く設定。充実したサポート制度"></p>
									<p class="bold marginT fontS">進学を諦めたくない志望者の思いに応える</p>
									<p class="marginTs">広告費を抑えることにより、数あるIT系の専門学校の中でも学費を安く設定しています。</p>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="innerS_in bg_yselblue">
									<p class="center bold fontLL txt_blue marginB">3</p>
									<h3 class="txt_blue bold">クォーター制で習熟度を測り、学修面をサポート</h3>
									<p class="marginT"><img src="img/feature_img03b.jpg" alt="クォーター制で習熟度を測り、学修面をサポート"></p>
									<p class="bold marginT fontS">少人数制、クラス担任制を活かした授業</p>
									<p class="marginTs">クォーター制（4学期制）は、短期間で集中して学ぶことで学修効果を高め、クォーター毎の成績評価によりきめ細かなフィードバックが受けられます。</p>
								</div>
							</div>
						</div>
						<div class="swiper-pagination swiper-pagination02"></div>
					</div>
				</div>
			</div>
			<p class="innerT center"><a href="about/point.html" class="btn_ysebl">詳しくはこちら</a></p>
		</div>
	</section>
<!-- // YSEの特長 // -->
<!-- 学科案内 -->
	<section>
		<div class="containerB">
			<h2 class="toptxt">学科案内</h2>
			<div>
				<ul class="bnr_item3">
					<li class="bg_ig_green"><a href="course/course_ig.html"><p class="img_zoom"><img src="img/bnr_top_course_ig.jpg" alt="IT・ゲームソフト科"></p><h3 class="marginT fontS center bold txt_white">IT・ゲーム<br class="sp-br">ソフト科</h3><p class="fontSS center txt_white pc-dsp">IT・Game Software Department</p><p class="fontSS center txt_white marginTs">文部科学大臣認定 <br class="sp-br">職業実践専門課程</p><p class="cont_txt center txt_white marginB">全日制／2年制</p></a></li>
					<li class="bg_ai_pink"><a href="course/course_ai.html"><p class="img_zoom"><img src="img/bnr_top_course_ai.jpg" alt="AI・データサイエンス科"></p><h3 class="marginT fontS center bold txt_white">AI・データ<br class="sp-br">サイエンス科</h3><p class="fontSS center txt_white pc-dsp">AI・Date Science Department</p><p class="fontSS center txt_white marginTs">文部科学大臣認定 <br class="sp-br">職業実践専門課程</p><p class="cont_txt center txt_white marginB">全日制／2年制</p></a></li>
					<li class="bg_db_red"><a href="course/course_db.html"><p class="img_zoom"><img src="img/bnr_top_course_db.jpg" alt="デジタルビジネスデザイン科"></p><h3 class="marginT fontS center bold txt_white">デジタルビジネス<br class="sp-br">デザイン科</h3><p class="fontSS center txt_white pc-dsp">Digital Business Design Department</p><p class="cont_txt center txt_white marginTs marginB">全日制／2年制</p></a></li>
					<li class="bg_gs_blue"><a href="course/course_gs.html"><p class="img_zoom"><img src="img/bnr_top_course_gs.jpg" alt="グローバルITシステム科"></p><h3 class="marginT fontS center bold txt_white">グローバルIT<br class="sp-br">システム科</h3><p class="fontSS center txt_white pc-dsp">Global IT Systems Department</p><p class="cont_txt center txt_white marginTs marginB">全日制／2年制</p></a></li>
					<li class="bg_gb_purple"><a href="course/course_gb.html"><p class="img_zoom"><img src="img/bnr_top_course_gb.jpg" alt="グローバルITビジネス科"></p><h3 class="marginT fontS center bold txt_white">グローバルIT<br class="sp-br">ビジネス科</h3><p class="fontSS center txt_white pc-dsp">Global IT Business Department</p><p class="fontSS center txt_white marginTs">文部科学大臣認定 <br class="sp-br">職業実践専門課程</p><p class="cont_txt center txt_white marginB">全日制／2年制</p></a></li>
					<li class="bg_il_orange"><a href="course/course_il.html"><p class="img_zoom"><img src="img/bnr_top_course_il.jpg" alt="ITライセンス科"></p><h3 class="marginT fontS center bold txt_white">ITライセンス科</h3><p class="fontSS center txt_white pc-dsp">IT License Department<br>(Online School）</p><p class="cont_txt center txt_white marginTs marginB">通信制</p></a></li>
				</ul>
			</div>
		</div>
	</section>
<!-- // 学科案内 // -->
<!-- 学校案内 -->
	<section class="bg_white">
		<div class="containerB">
			<h2 class="toptxt">学校案内</h2>
			<div class="row">
				<div class="col span-6 marginT">
					<div class="link_box bg_yselblue">
						<a href="about/index.html" class="link_box_btn"></a>
						<div class="link_box_img"><img src="img/sugiyama.png" alt=""></div>
						<div class="link_box_txt">
							<h3 class="txt_yseblue bold">YSEについて</h3>
							<p class="txt_justify">学院長メッセージやYSEグランドコンセプト、自己評価報告書・情報公開などYSEについてご紹介します。</p>
						</div>
					</div>
				</div>
				<div class="col span-6 marginT">
					<div class="link_box bg_yselblue">
						<a href="admission/index.html" class="link_box_btn"></a>
						<div class="link_box_img"><img src="img/admission01.jpg" alt="入学案内（全日制）"></div>
						<div class="link_box_txt">
							<h3 class="txt_yseblue bold">入学案内（全日制）</h3>
							<p class="txt_justify">全日制の入学方法や出願方法、学費、高等教育の修学支援新制度などをご案内。奨学サポートも充実しています。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col span-6 marginT">
					<div class="link_box bg_yselblue">
						<a href="admission/admission_il.html" class="link_box_btn"></a>
						<div class="link_box_img"><img src="img/admission02.jpg" alt="入学案内（通信制）"></div>
						<div class="link_box_txt">
							<h3 class="txt_yseblue bold">入学案内（通信制）</h3>
							<p class="txt_justify">通信制（ITライセンス科）の入学方法や出願方法、学費などをご案内。※他の学科と学費等が異なります。</p>
						</div>
					</div>
				</div>
				<div class="col span-6 marginT">
					<div class="link_box bg_yselblue">
						<a href="career/index.html" class="link_box_btn"></a>
						<div class="link_box_img"><img src="img/career_topimg.jpg" alt="就職支援・資格取得指導"></div>
						<div class="link_box_txt">
							<h3 class="txt_yseblue bold">就職支援・資格取得指導</h3>
							<p class="txt_justify">専任スタッフとキャリアアドバイザーの連携により一人ひとりを真剣にバックアップ。全力でサポートします。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col span-6 marginT">
					<div class="link_box bg_yselblue">
						<a href="campuslife/index.html" class="link_box_btn"></a>
						<div class="link_box_img"><img src="img/life_topimg.jpg" alt="キャンパスライフ"></div>
						<div class="link_box_txt">
							<h3 class="txt_yseblue bold">キャンパスライフ</h3>
							<p class="txt_justify">自由な校風のYSEでなら、仲間と一緒に充実した毎日を過ごせる環境があります。ある学生の1日をご紹介しています。</p>
						</div>
					</div>
				</div>
				<div class="col span-6 marginT">
					<div class="link_box bg_yselblue">
						<a href="about/facility.html" class="link_box_btn"></a>
						<div class="link_box_img"><img src="img/facility.jpg" alt="学修環境・施設"></div>
						<div class="link_box_txt">
							<h3 class="txt_yseblue bold">学修環境・施設</h3>
							<p class="txt_justify">電子黒板・Wi-Fi完備した教室、学生たちのコミュニケーションの場として「ラーニング・コモンズ」があります。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col span-6 marginT">
					<div class="link_box bg_yselblue">
						<a href="about/access.html" class="link_box_btn"></a>
						<div class="link_box_img"><img src="img/school.jpg" alt="交通・アクセス"></div>
						<div class="link_box_txt">
							<h3 class="txt_yseblue bold">交通・アクセス</h3>
							<p class="txt_justify">YSEまでのアクセス方法や各駅からの所要時間、周辺マップのご案内です。</p>
						</div>
					</div>
				</div>
				<div class="col span-6 marginT">
					<div class="link_box bg_yselblue">
						<a href="foreign/index.html" class="link_box_btn"></a>
						<div class="link_box_img"><img src="img/admission03.jpg" alt="留学生の方へ"></div>
						<div class="link_box_txt">
							<h3 class="txt_yseblue bold">留学生の方へ</h3>
							<p class="txt_justify">留学生の入学方法や学費、留学ビザ更新手続きなどのご案内です。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- //学校案内// -->
<!-- ピックアップ -->
	<section>
		<div class="containerBT">
			<h2 class="toptxt">ピックアップ</h2>
		</div>
		<div class="mainvisual">
			<div class="mainvisual-inner mainvisual-container">
				<div class="swiper-container swiper_fadein swiper03">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><a href="campuslife/interview.html"><img src="img/interview_top_header.jpg" alt="在学生インタビュー "></a></div>
						<div class="swiper-slide"><a href="pickup/datascience.html"><img src="img/bnr_top_datascience_sp.jpg" alt="AI・データサイエンス科「AIを学ぶ」"></a></div>
						<div class="swiper-slide"><a href="pickup/outside.html"><img src="img/bnr_top_outside_sp.jpg" alt="県外·遠方から進学を検討している方へ"></a></div>
						<div class="swiper-slide"><a href="about/questionnaire.html"><img src="img/bnr_top_questionnaire_sp.jpg" alt="卒業生アンケート"></a></div>
						<div class="swiper-slide"><a href="pickup/corporate.html"><img src="img/bnr_top_corporate.jpg" alt="IT企業インタビュー"></a></div>
						<div class="swiper-slide"><a href="pickup/itgirl.html"><img src="img/bnr_top2_itgirl.jpg" alt="IT女子特別奨学制度"></a></div>
						<div class="swiper-slide"><a href="pickup/il.html"><img src="img/bnr_what_il.jpg" alt="ITライセンス科ってどんな学科？"></a></div>
						<div class="swiper-slide"><a href="pickup/job.html"><img src="img/bnr_top_job.jpg" alt="YSEのきめ細かな就職指導！"></a></div>
					</div>
					<div class="swiper-pagination swiper-pagination03"></div>
				</div>
			</div>
		</div>
		<div class="containerBB">
			<p class="center innerT"><a href="pickup/index.html" class="btn_ysebl">特集一覧</a></p>
		</div>
	</section>
<!-- // ピックアップ // -->
	<section class="bg_white">
		<div class="containerB">
			<div class="row">
				<div class="col span-6 marginB">
					<div style="position: relative; padding-bottom: 56.25%;">
					  <iframe 
					    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" 
					    src="https://www.youtube.com/embed/ICddAKG4vVs " 
					    frameborder="0" 
					    allow="autoplay; 
					    encrypted-media" 
					    allowfullscreen>
					  </iframe>
					</div>
				</div>
				<div class="col span-6 marginB">
					<div style="position: relative; padding-bottom: 56.25%;">
					  <iframe 
					    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" 
					    src="https://www.youtube.com/embed/B6OU1k0oKrg" 
					    frameborder="0" 
					    allow="autoplay; 
					    encrypted-media" 
					    allowfullscreen>
					  </iframe>
					</div>
				</div>
			</div>
			<ul class="bnr_item4">
				<li><a href="campuslife/yseye/index.html"><img src="img/bnr_yseye.jpg" alt="YSeye"></a></li>
				<li><a href="campuslife/ysenews/index.html"><img src="img/bnr_ysenews.jpg" alt="YSEnews"></a></li>
				<li><a href="https://www.yse.ac.jp/blog/" target="_blank"><img src="img/bnr_top_yseblog.jpg" alt="YSE BLOG"></a></li>
				<li><a href="https://www.best-shingaku.net/special/pn701wordofmouth_view.php?sc=255" target="_blank"><img src="img/bnr_bestshingaku.jpg" alt="ベスト進学ネット"></a></li>
			</ul>
			<p class="innerT pc-txt marginB">YSEの公式ツイッター、インスタグラムでは、学校の様子やイベントの告知などを発信しています。<br class="pc-br">ぜひフォローお願いします！</p>
			<ul class="bnr_item2">
				<li><a href="https://twitter.com/yse_senmon" target="_blank"><img src="img/bnr_twitter.jpg" alt="公式Twitter"></a></li>
				<li><a href="https://www.instagram.com/yse_yokohama1882/?hl=ja" target="_blank"><img src="img/bnr_instagram.jpg" alt="公式Instagram"></a></li>
			</ul>
		</div>
	</section>
</div>
</main>
<!-- FOOTER -->
<footer id="footer">
	<div class="bg_dgray">
		<div class="sns_bg">
			<div class="sns_brn">
				<ul>
					<li><a href="https://www.yse.ac.jp/blog/" target="_blank"><i class="fas fa-edit snsbtn_blog"></i></a></li>
					<li><a href="https://twitter.com/yse_senmon" target="_blank"><i class="fab fa-twitter snsbtn_twitter"></i></a></li>
					<li><a href="https://www.facebook.com/YSE.Gakuen.gb/" target="_blank"><i class="fab fa-facebook snsbtn_facebook"></i></a></li>
					<li><a href="https://www.instagram.com/yse_yokohama1882/?hl=ja" target="_blank"><i class="fab fa-instagram snsbtn_insta"></i></a></li>
					<li><a href="https://www.youtube.com/channel/UCBCrNvbt10TNTP4_q-TpReQ" target="_blank"><i class="fab fa-youtube snsbtn_youtube"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="bg_gray">
		<div class="containerD">
<!-- PCのみ表示 -->
			<div class="pc-dsp">
				<div class="footer_visitor">
					<ul>
						<li><a href="visitor/index.html#company"><i class="fas fa-city fa-lg"></i>企業の方へ</a></li>
						<li><a href="visitor/index.html#teacher"><i class="fas fa-school fa-lg"></i>高校の先生方へ</a></li>
						<li><a href="visitor/index.html#parents"><i class="fas fa-user-friends fa-lg"></i>保護者の方へ</a></li>
						<li><a href="students/students.html"><i class="fas fa-user-edit fa-lg"></i>在校生の方へ</a></li>
						<li><a href="visitor/index.html#graduate"><i class="fas fa-graduation-cap fa-lg"></i>卒業生の方へ</a></li>
						<li><a href="foreign/index.html" target="_blank"><i class="fas fa-globe"></i>留学生の方へ</a></li>
						<!--<li><a href="admission/kunren.html"><i class="fas fa-user"></i>求職者の方へ</a></li>-->
					</ul>
				</div>
			</div>
<!-- //PCのみ表示// -->
<!-- ここから -->
			<div class="row">
				<div class="col span-3">
					<div class="sp_menu">
						<h5 class="sp_menu_link js-sp_menu_link"><a href="about/index.html">学校案内</a></h5>
						<ul class="submenu footer_txt">
							<li class="subsp_menu"><a href="about/index.html">学院長メッセージ</a></li>
							<li class="subsp_menu"><a href="about/concept.html">YSEグランドコンセプト</a></li>
							<li class="subsp_menu"><a href="about/yse3policy.html">YSE 3つのポリシー</a></li>
							<li class="subsp_menu"><a href="about/strengths.html">YSE 3つの強み</a></li>
							<li class="subsp_menu"><a href="about/point.html">YSEの特長</a></li>
							<li class="subsp_menu"><a href="about/online.html">オンライン学習の取り組み</a></li>
							<li class="subsp_menu"><a href="about/outline.html">学校法人概要・沿革</a></li>
							<li class="subsp_menu"><a href="about/disclose.html">自己評価報告書・情報公開</a></li>
							<li class="subsp_menu"><a href="about/education.html">職業実践専門課程認定</a></li>
							<li class="subsp_menu"><a href="about/group.html">加入団体／産学連携団体・企業</a></li>
							<li class="subsp_menu"><a href="about/facility.html">学修環境・施設</a></li>
							<li class="subsp_menu_last"><a href="about/access.html">交通アクセス</a></li>
						</ul>
					</div>
				</div>
				<div class="col span-3">
					<div class="sp_menu">
						<h5 class="sp_menu_link js-sp_menu_link"><a href="course/index.html">学科案内</a></h5>
						<ul class="submenu footer_txt">
							<li class="subsp_menu"><a href="course/course_ig.html">IT・ゲームソフト科</a></li>
							<li class="subsp_menu"><a href="course/course_ai.html">AI・データサイエンス科</a></li>
							<li class="subsp_menu"><a href="course/course_db.html">デジタルビジネスデザイン科</a></li>
							<li class="subsp_menu"><a href="course/course_gs.html">グローバルITシステム科</a></li>
							<li class="subsp_menu"><a href="course/course_gb.html">グローバルITビジネス科</a></li>
							<li class="subsp_menu_last"><a href="course/course_il.html">ITライセンス科（通信制）</a></li>
						</ul>
					</div>
				</div>
				<div class="col span-3">
					<div class="sp_menu">
						<h5 class="sp_menu_link js-sp_menu_link"><a href="admission/index.html">入学案内</a></h5>
						<ul class="submenu footer_txt">
							<li class="subsp_menu"><a href="admission/index.html">入学案内（全日制）</a></li>
							<li class="subsp_menu"><a href="admission/admission_il.html">入学案内（通信制）</a></li>
							<li class="subsp_menu"><a href="admission/ao.html">AO入学</a></li>
							<li class="subsp_menu"><a href="admission/scholarship.html">資格推薦入学</a></li>
							<li class="subsp_menu"><a href="admission/support.html">奨学サポート</a></li>
							<li class="subsp_menu"><a href="admission/web_entry.html">ネット出願</a></li>
							<li class="subsp_menu_last"><a href="admission/digital.html">デジタルパンフレット</a></li>
						</ul>
					</div>
				</div>
				<div class="col span-3">
					<div class="sp_menu">
						<h5 class="sp_menu_link js-sp_menu_link"><a href="career/index.html">就職支援・資格取得</a></h5>
						<ul class="submenu footer_txt">
							<li class="subsp_menu"><a href="career/index.html">就職支援</a></li>
							<li class="subsp_menu"><a href="career/qualification.html">資格取得指導</a></li>
							<li class="subsp_menu"><a href="career/web_career.html">YSEキャリアネット</a></li>
							<li class="subsp_menu_last"><a href="career/transfer.html">大学編入学サポート</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col span-3">
					<div class="sp_menu">
						<h5 class="sp_menu_link js-sp_menu_link"><a href="taiken/index.html">体験入学・実習</a></h5>
						<ul class="submenu footer_txt">
							<li class="subsp_menu"><a href="taiken/taiken.html">体験入学・学校見学</a></li>
							<li class="subsp_menu"><a href="taiken/online.html">オンライン個別相談会</a></li>
							<li class="subsp_menu_last"><a href="taiken/web_taiken.html">ネット体験実習</a></li>
						</ul>
					</div>
				</div>
				<div class="col span-3">
					<div class="sp_menu">
						<h5 class="sp_menu_link js-sp_menu_link"><a href="campuslife/index.html">学校生活</a></h5>
						<ul class="submenu footer_txt">
							<li class="subsp_menu"><a href="campuslife/index.html">キャンパスライフ</a></li>
							<li class="subsp_menu"><a href="campuslife/oneday.html">ある学生の一日</a></li>
							<li class="subsp_menu"><a href="campuslife/interview/students01.html">在学生インタビュー</a></li>
							<li class="subsp_menu"><a href="campuslife/yseye/index.html">YSeye</a></li>
							<li class="subsp_menu"><a href="campuslife/ysenews/index.html">YSEnews</a></li>
							<li class="subsp_menu_last"><a href="https://www.yse.ac.jp/blog/" target="_blank">YSEブログ</a></li>
						</ul>
					</div>
				</div>
				<div class="col span-3">
					<div class="sp_menu">
						<h5 class="sp_menu_link js-sp_menu_link"><a href="foreign/index.html" target="_blank">留学生の方へ</a></h5>
						<ul class="submenu footer_txt">
							<li class="subsp_menu"><a href="foreign/admission.html" target="_blank">留学生入学案内</a></li>
							<li class="subsp_menu"><a href="foreign/visa.html" target="_blank">留学ビザ更新手続き</a></li>
							<li class="subsp_menu_last"><a href="campuslife/foreign.html" target="_blank">キャンパスライフ（留学生）</a></li>
						</ul>
					</div>
				</div>
				<div class="col span-3">
					<div class="sp_menu">
						<h5 class="sp_menu_link js-sp_menu_link"><a href="contact/index.html">お問い合わせ</a></h5>
						<ul class="submenu footer_txt">
							<li class="subsp_menu"><a href="recruit/index.html">教職員募集</a></li>
							<li class="subsp_menu"><a href="contact/faq.html">よくある質問</a></li>
							<li class="subsp_menu"><a href="mail_form/inquiry.html">お問い合わせフォーム</a></li>
							<li class="subsp_menu_last"><a href="mail_form/doc-request.html" target="_blank">資料請求</a></li>
						</ul>
					</div>
				</div>
<!--SPのみ表示-->
				<div class="sp-dsp">
					<div class="col span-3 marginB">
						<div class="sp_menu">
							<h5 class="sp_menu_link js-sp_menu_link"><a href="visitor/index.html">みなさまへ（訪問者別）</a></h5>
							<ul class="submenu footer_txt">
								<li class="subsp_menu"><a href="visitor/index.html#company">企業の方へ</a></li>
								<li class="subsp_menu"><a href="visitor/index.html#teacher">高校の先生方へ</a></li>
								<li class="subsp_menu"><a href="visitor/index.html#parents">保護者の方へ</a></li>
								<li class="subsp_menu"><a href="students/students.html">在校生の方へ</a></li>
								<li class="subsp_menu"><a href="visitor/index.html#graduate">卒業生の方へ</a></li>
								<li class="subsp_menu_last"><a href="foreign/index.html" target="_blank">留学生の方へ</a></li>
								<!--<li class="subsp_menu_last"><a href="admission/kunren.html">求職者の方へ</a></li>-->
							</ul>
						</div>
					</div>
				</div>
<!--//SPのみ表示//-->
			</div>
			<div class="pc-dsp">
				<hr class="footer_hr">
				<p>
					<a href="about/privacy.html">個人情報保護方針</a>　
					<a href="about/outline.html">学校法人概要</a>　
					<a href="sitemap/index.html">サイトマップ</a>　
					<a href="recruit/index.html">教職員募集</a>
				</p>
			</div>
			<div class="sp-dsp">
				<ul class="bnr_item4">
					<li><a href="about/privacy.html">個人情報保護方針</a></li>
					<li><a href="about/outline.html">学校法人概要</a></li>
					<li><a href="sitemap/index.html">サイトマップ</a></li>
					<li><a href="recruit/index.html">教職員募集</a></li>
				</ul>
			</div>
<!-- //ここまで// -->
		</div>
	</div>
	<div class="bg_white">
		<div class="containerD">
			<div class="pc-dsp">
				<div class="row f_logo">
					<div class="col span-4">
						<a href="index.html"><img src="img/logo_sp.png" alt="横浜システム工学院専門学校"></a>
					</div>
					<div class="col span-8">
						<p class="yse_txt">学校法人YSE学園 横浜システム工学院専門学校は、プログラマ、システムエンジニアやロボット・組込みエンジニア、AIサービスエンジニアなどIT・コンピュータ分野の人材を育成する専門学校で、神奈川県下初の情報化人材育成機関として横浜に開校しました。文部科学大臣認定「職業実践専門課程」認定校　ISO29993第三者評価認証校です。</p>
					</div>
				</div>
			</div>
			<div class="sp-dsp marginTB">
				<div class="f_logo">
					<p>文部科学大臣認定「職業実践専門課程」認定校<br>ISO29993第三者評価認証校</p>
					<a href="index.html"><img src="img/logo_sp.png" alt="横浜システム工学院専門学校"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="copy">&copy; YSE All Rights Reserved.</div>
	<p class="pagetop"><a href="#top"><img src="img/pagetop.png" alt="pagetop"></a></p>
<!-- PCのみフローティングバナー -->
	<div class="pc-dsp">
		<div id="side-box01" class="side-bn1">
			<a href="taiken/taiken.html"></a>
		</div>
		<div id="side-box02" class="side-bn1">
			<a href="taiken/online.html"></a>
		</div>
		<div id="side-box03" class="side-bn1">
			<a href="mail_form/doc-request.html" target="_blank"></a>
		</div>
	</div>
<!-- //PCのみフローティングバナー// -->
</footer>
<!-- //FOOTER// -->
<script src="js/swiper-bundle.min.js"></script>
<script>
var swiper01 = new Swiper('.swiper01', {
	loop: true,
	slidesPerView: 1,
	centeredSlides : true,
	spaceBetween: 0,
	speed: 600,
	autoplay: {
		delay: 4000,  
	},
	pagination: {
		el: '.swiper-pagination01',
		clickable: true,
	},
	navigation: {
		nextEl: ".swiper-button-next01",
		prevEl: ".swiper-button-prev01",
	},
	breakpoints: {
		560: {
		slidesPerView: 1.5,
		spaceBetween: 10
		},
		960: {
		slidesPerView: 1,
		spaceBetween: 10
		},
	}
});

var swiper02 = new Swiper('.swiper02', {
	loop: true,
	slidesPerView: 1,
	centeredSlides : true,
	spaceBetween: 10,
	speed: 800,
	autoplay: {
		delay: 5000,  
	},
	pagination: {
		el: '.swiper-pagination02',
		clickable: true,
	},
	breakpoints: {
		560: {
		slidesPerView: 1,
		spaceBetween: 20
		},
	}
});

var swiper03 = new Swiper('.swiper03', {
	loop: true,
	slidesPerView: 2,
	centeredSlides : true,
	spaceBetween: 10,
	speed: 600,
	autoplay: {
		delay: 4000,  
	},
	pagination: {
		el: '.swiper-pagination03',
		clickable: true,
	},
	breakpoints: {
		560: {
		slidesPerView: 3,
		spaceBetween: 20
		},
	}
});

var swiper04 = new Swiper('.swiper04', {
	loop: true,
	slidesPerView: 2,
	centeredSlides : false,
	spaceBetween: 20,
	speed: 800,
	autoplay: {
		delay: 8000,  
	},
	pagination: {
		el: '.swiper-pagination04',
		clickable: true,
	},
	breakpoints: {
		560: {
		slidesPerView: 3,
		spaceBetween: 40
		},
	}
});


$('.JS_ScrollItem').each(function(){
    let $item = $(this);
    $(window).on('scroll', function(){
      let top = $item.offset().top; // ターゲットの位置取得
      let position = top - $(window).height();  // イベントを発火させたい位置
      if($(window).scrollTop() > position){
        $item.addClass('isShow');
      }
    });
  });

var periodDay = 3;
 
var current = new Date();
var postdate = document.querySelectorAll('[data-postdate]');
for (var i = 0; i < postdate.length; i++) {
  var d = new Date(postdate[i].dataset.postdate);
  d.setDate(d.getDate() + periodDay);
  if(current < d) {
    postdate[i].classList.add('is-show');
  }
}
</script>
</body>
</html>
