{% extends "base.html" %}
<!-- css指定 -->
<!-- {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/csspath.css') }}">
{% endblock %} -->
{% block content %}
<!-- インスタンス時の指定した文字列.関数名 -->
<form action="{{ url_for('template.auth') }}" method="post">

</form>
<!-- staticフォルダーのimagesフォルダーの画像ファイル 
    altは表示されなかった場合の表示する文字列 -->
<img src="{{ url_for('static', filename='images/template.jpg') }}" alt="Image 1">
<!-- staticフォルダーのjsフォルダーjsファイル -->
<script src="{{ url_for('static', filename='js/template.js') }}"></script>
<input type="text" name="" placeholder="">
{% endblock %}