flask==1.1.2
FER==22.5.1
tensorflow==2.12.0
diffusers==0.21.0
googletrans==4.0.0rc1
pytrends==4.9.2
bs4==0.0.1
transformers==4.29.2
torchvision==0.15.2
torchaudio==2.0.2
flask_wtf==1.1.1
email_validator==2.0.0.post2
pyngrok==7.0.0
jinja2==2.11.2
Markupsafe==2.0.1
itsdangerous==1.1.0
Werkzeug==2.0.2
accelerate==0.19.0
torch==2.0.1+cu118 