.time{
    font-size: 0.8em;
    
}
.show-img{
    width: 250px;
    height: 250px;
}
.show-video{
    width: 250px;
    height: 250px;
}
@media  (max-width:2000px) {
    
}
@media  (max-width:1000px) {
    .chatMessage p span {
        font-size: 15px;
    }
    .time{
        font-size: 1em;
    }
    .show-img{
        width: 125px;
        height: 125px;
    }
    
    
}
@media  (max-width:800px) {
    .chatMessage p span {
        font-size: 10px;
    }
    .time{
        font-size: 0.5em;
    }
    .show-img{
        width: 100px;
        height: 100px;
    }
    
    
}    

@media   (max-width:400px) {
    .chatTemp{
        width: 98%;
    }
    .chatBox{
        
        border: #CE579B 4px solid ;
    }
    .chatMessage p span {
        font-size: 10px;
    }
    .time{
        font-size: 0.5em;
    }
    .show-img{
        width: 60px;
        height: 60px;
    }
    .chatBox input[type="submit"]{
        width: 100%;
    }
    .chatBox input[type="text"]{
        width: 100%;
    }
    .chatBox input[type="file"]{
        height: 50px;
    }
    #country-selector{
        height: 50px;
        width: 50%;
    }
    .translation{
        font-size: 10px;

    }
    
    .time{
        font-size: 8px;
    }
    .chatBox{
        width: 100%;
    }
}