.Feature{
    width: 50%;
}
video {
    width: 100%;
    height: auto;
    transform: scaleX(-1);
    /* display: none; */
}
#canvas{
    width: 100%;
    height: auto;
    transform: scaleX(-1);
    display: none;
}
h1{
    width: 250px;
    background-color: white;
}

.result p {
    background-color: white;
    font-size: 170%;
    height: 15%;
    padding-left: 10px;
    padding-right: 20px;
    margin: 0;
    border: 1px solid;
    width: 50%;
}
.data{
    display: flex;
}
html{
    height: 100%;
}
body{
    background-image: url("../images/pexels-nubia-navarro-(nubikini)-385997.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
}
#average h3{
    background-color: white;
    width: fit-content
}
#startButton{
    height: 100px;
    width: 150px;
}
#endButton{
    height: 100px;
    width: 150px;
}
@media  (max-width:500px) {
    
    .Feature{
        height: 100%;
        width: 50%;
        margin-bottom: 20px;
        
    }
    .result p{
        font-size:15px;
        width: 65%;
        display: inline-block;
        
    }
    
    h3{
        font-size: 25px;
    }
    
}