html{
    height: 100%;
}
body{
    
    background-image: url("../images/sky_image.png");
    background-size:cover;
    /* background-repeat: no-repeat; */
    min-height: 100%;

    
}
#search{
    width: 100px;
}
#search_Results_Page{
    width: 150px;
}

.left{
    float: left;
}
.right{
    float: right;
}
.box1{
    padding-left: 15px;
    height: 70;
}

#PROMPT{
    width: 45%;
}

#inputdata{
    width: 45%;
}
.create_image{
    width: 250px;
    height: 250px;
}
#translationresult{
    /* height: 200px; */
    height: 150px;
}

#startcreate{
    width: 10%;
    height: 15%;
}
.resulttxt{
    font-size: 15px;
    
    width: 250px;
    margin: 0;
}
.back-white{
    background-color: white;
}
.time{
    background-color: black;
    color: white;
    
}
.chip{
    width: 300px;
    padding: 30px;
    /* -webkit-flex-wrap: wrap;  
    -ms-flex-wrap    : wrap;          
    flex-wrap        : wrap; */
    
    
}
#imgcreateresult{
    height: 100%;
    display : flex;
    flex-wrap: wrap;
}
