html{
    height: 100%;
}

main{
    /* background: linear-gradient(#1999de, hsl(171, 40%, 91%)); */
    height: 100%;
    background:#add8e6 ;

}

body{
    /* background: linear-gradient(#1999de, hsl(171, 40%, 91%)); */
    
    /* background-image: url("../images/sky_image.png"); */
    /* background-size:cover; */
    /* background-color: aqua; */
    /* background-repeat: no-repeat; */
    
    /* background-image:  url("../images/cloud.png") */
    
}
#search{
    width: 50%;
}
#search_Results_Page{
    width: 50%;
}

.left{
    float: left;
}
.right{
    float: right;
}
.box1{
    padding-left: 15px;
    height: 70;
}
#pageresult{
    
    overflow: scroll;
    height: 790px;
}
@media (max-width:1000px){
    .Feature{
        width: 50%;
    }
    #pageresult{
        height: 500px;
    }
}
@media  (max-width:500px) {
    .Feature{
        /* width: 100%; */
    }
    #pageresult{
        height: 200px;
    }
    #search_Results_Page{
        width: 50%;
    }
    #search{
        width: 50%;
    }
}