html{
    height: 100%;
}
body{
    
    background-image: url("../images/sky_image.png");
    background-size:cover;
    /* background-repeat: no-repeat; */
    
    
}
#search{
    width: 80%;
}
#search_Results_Page{
    width: 80%;
}

.left{
    float: left;
}
.right{
    float: right;
}
.box1{
    padding-left: 15px;
    height: 70;
}
#pageresult{
    
    overflow: scroll;
    height: 500px;
}
@media (max-width:1000px){
    .Feature{
        width: 50%;
    }
}
@media  (max-width:500px) {
    .Feature{
        width: 100%;
    }
    #pageresult{
        height: 200px;
    }
    #search_Results_Page{
        width: 50%;
    }
    #search{
        width: 50%;
    }
}