
main{
    height: 100%;
}
body{
    /* background-image: url(image/pexels-nubia-navarro-\(nubikini\)-385997.jpg); */
    background-color:#3cb371 ;
    min-height: 100%;
    
}

#h1{
    font-family: cursive;
    font-size: 82px;
    text-align: center;
    color: coral;
}
#logoin-menu{
    font-weight:bold; 
    font-size: 36px;
    text-align: center;
    color: coral ;
}
#user{
    height: 50px;
}
.container{
    width: 300px;
    /* height: 500px;     */
    /* height: 100%; */
    padding: 10px;
    position: absolute;
    top: 76%;
    left: 45%;
    transform: translate(-50%,-50%);
}

.login-input{
    color: rgb(5, 211, 112);
    text-align: center;
}

input{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.username{
    color:#ffffff;
    font-size: 20px;
    font-weight:bold; 
}
.password{
    font-size: 20px;
    color:#ffffff;
    font-weight:bold; 
}
#log_in{
    font-size: 20px;
    white-space: nowrap;
}
#newuser{
    font-size: 20px;
}
#lostpassword{
    font-size: 20px;
}
