{% extends "base2.html" %}
<!-- css指定 -->
<!-- {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/csspath.css') }}">
{% endblock %} -->
{% block content %}

<form method="POST">
    {% for message in get_flashed_messages() %}
      <p>{{ message }}</p>
    {% endfor %}
  
    {{ form.csrf_token }}
  
    {% for error in form.mail.errors %}
      <p style="color:red">{{ error }}</p>
    {% endfor %}
    {{ form.mail.label }}
    {{ form.mail(placeholder="登録済みのメールアドレス", size=20, id="mail") }}
  
    <button>送信</button>
  </form>
{% endblock %}